<div class="m-">
<h4 class="m-3 fw-normal">Cadastrar - Agendamento de Potenciais Clientes</h4>
<p class="m-3">Sistema Utilizado para agendamento de serviços</p>
<form class="form-group m-3">
    <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Nome:</label>
    <input type="text" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
    <label for="exampleFormControlInput2" class="form-label">Telefone:</label>
    <input type="text" class="form-control" id="exampleFormControlInput2">
    </div>
    <div class="mb-3">
    <label for="exampleFormControlInput3" class="form-label">Origem:</label>    
    <select class="form-select" aria-label="Default select example">
    <option value="1">Celular</option>
    <option value="2">Telefone</option>
    </select>
    </div>
    <div class="mb-3">
    <label for="exampleFormControlInput4" class="form-label">Data do Contato:</label>
    <input type="date" class="form-control" id="exampleFormControlInput4">
    </div>
    <div class="mb-3">
    <label for="exampleFormControlTextarea5" class="form-label">Observação:</label>
    <textarea class="form-control" id="exampleFormControlTextarea5" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
</div>
